body {
  background-color: #333;
  color: white;
  font-size: 1.2rem;
  font-family: Consolas, 'Courier New', monospace;
}

.project-div {
  background-color: black;
  border: 2px solid white;
  border-radius: 0.5rem;
  width: 90%;
}

.project-div:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}

.footer {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
}

.header {
  background-color: black;
  position: fixed;
  display: flex;
  align-items: center;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 8%;
  z-index: 998;
  border: 1px solid white;
}

.menuBtn {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -17rem;
  width: 16rem;
  height: 100%;
  box-shadow: -3px 0 15px rgba(0, 0, 0, 1.0);
  z-index: 1000;
  background-color: black;
  border-radius: 0.2rem;
  border-color: white;
}

.sidebar li {
  width: 100%;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
  line-height: 2rem;
}

.sidebar li:hover {
  background-color: white;
  color: black;
}

.main-content {
  position: absolute;
  left: 0px;
  top: 8%;
  width: 100%;
  height: 92%;
  font-size: 2rem;
}

.main-content a {
  color: blue;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.closeBtn:hover {
  color: grey;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.logo {
  background-image: url("..\\logo.png");
  display: flex;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.text-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 3px 3px 0px black;
  padding: 1.5rem;
}

.mainList dt {
  font-size: 3rem;
}

@media (max-width: 980px) {
  .avatar {
    width: 3rem;
    height: 3rem;
  }

  .text-content {
    font-size: 1.4rem;
  }

  .mainList dt {
    font-size: 2.8rem;
  }

  .main-content {
    font-size: 1.5rem;
  }
}

@media (max-width: 798px) {
  .avatar {
    width: 3rem;
    height: 3rem;
  }

  .text-content {
    font-size: 1rem;
    padding: 1rem;
  }

  .mainList dt {
    font-size: 2.5rem;
  }

  .main-content {
    font-size: 1.0rem;
  }
}